.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.login_page {
  .input {
    width: 90%;
  }
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: underline;
}

.text_align_right {
  text-align: right;
}

.search_bar {
  height: 100%;
  width: 80%;
}

.select {  
 width: 100%;
}
